.header-approval {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .search-bar {
    background-color: white;
    display: flex;
    padding: .8rem 1.6rem;
    max-width: 40.7rem;
    border-radius: 3rem;
    margin-bottom: 2rem;

    .search-bar-input {
      width: 100%;
      outline: none;
      box-shadow: none;
      background: transparent;
      border: none;
    }
  }


  input {
    border: 0;
    box-shadow: none;
    border-radius: 50px;

    &:hover,
    &:focus {
      box-shadow: 0 0 0.5rem rgba(0, 119, 71, 0.5);
    }
  }

  div {
    display: flex;
    justify-content: space-between;
  }

}

.app-wrap {
  background: #fff;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &+div {
    margin-top: 1rem;
  }
}

.show-more {
  margin-top: 2rem;
}

.show-more.loaded {
  display: none;
}

.approval-list .approval-item:nth-child(5)~.approval-item {
  display: none;
}

.app-title {
  padding: 0;
  margin: 1rem 0;
  display: flex;
  gap: 2rem;

  .circle {
    width: 2rem;
    height: 2rem;
    border: 1px solid #939393;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer
  }
}

.wrap-buttons {
  display: flex;
  gap: 1rem;
}

.link {
  color: #006600;
  font-weight: 600;
  font-size: 1.6rem;
}

.app-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.btn-approve {
  background: #007747;
  border: #007747;
  color: #fff;

  &:hover {
    background: #007700;
  }
}

.btn-reject {
  border-color: #EB0F64;
  color: #EB0F64;
}

.app-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.pt-20 {
  padding-top: 20px;
}

.requested {
  background-color: #ef8736;
}

.approved {
  background-color: #07ab18;
}

.rejected {
  background-color: red;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}